.item {
  background-color: var(--color-secondary);
  padding: 1rem;

  text-align: center;
}

.equal-widths-auto {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(5, auto);
}

.equal-widths-1fr {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(5, 1fr);
}

.equal-widths-minmax0-1fr {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
