:root {
  --color-black: #0c0f11;
  --color-white: #e3e3e3;
  --color-primary: #ce4257;
  --color-primary-hover: color-mix(
    in oklab,
    var(--color-primary) 85%,
    var(--color-black)
  );
  --color-secondary: #ece4b7;

  --font-size-normal: 1rem;
  --font-size-small: 0.7rem;

  --font-family-monospace: "Courier New", Courier, monospace;
}

html {
  background-color: var(--color-black);
  font-family: sans-serif;
  color: var(--color-white);
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0 2rem 0;
  font-size: 2.5rem;
  border-bottom: 0.2rem solid var(--color-secondary);
  font-family: var(--font-family-monospace);
}

a {
  color: var(--color-white);
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary);
}

