---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Content as Experience } from "./base.md";
import ExternalLink from "@components/ExternalLink.astro";
import { createOpenGraph } from "@utils/create-open-graph";

const pageTitle: string = "Curriculum Vitae";
const description: string = "Elke Heymans - Frontend developer. Full CV, experience, and contact information.";
const openGraph = createOpenGraph(pageTitle, "/resume", "profile");
---

<BaseLayout pageTitle={pageTitle} description={description} openGraph={openGraph}>
  <h2>Summary</h2>
  <p>
    My career started in 2013 after graduating with a Bachelors and Masters in
    Computer Science. I first started out as an Android developer for a small
    project at university. After that I worked as a fullstack .NET developer for
    4 years, which greatly improved my knowledge of all kinds of aspects of a
    job in IT. Since 2018, I went into consultancy where I had the opportunity
    to further expand my frontend knowledge with projects in Angular, Vue and
    React. As a consultant, I've worked for 7 clients for a total of more than
    20 projects.
  </p>
  <p>
    In my career spanning 12 years, I've grown to a senior profile with a lot of
    different expertises. I currently brand myself as a fullstack developer with
    deeper knowledge of frontend. I've seen all aspects of a typical IT project:
    idea brainstorming, estimating costs, designing the architecture, setting up
    the tools and repositories, implementation of new features, bugfixing,
    testing, deployments, and so on. This combined with a love of learning new
    technologies and staying up to date in the everchanging world of frontend,
    makes me a very interesting asset in your team.
  </p>
  <p>
    You can find me on <ExternalLink
      href="https://www.linkedin.com/in/elkeheymans/"
      target="_blank">LinkedIn</ExternalLink
    > and check out my <ExternalLink
      href="https://github.com/elkecodes"
      target="_blank">GitHub</ExternalLink
    >.
  </p>
  <Experience />
</BaseLayout>
