---
import BlogPost from "@components/BlogPost.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getPublishedPosts } from "@utils/get-published-posts";

export async function getStaticPaths() {
  const posts = await getPublishedPosts();

  const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];
  return uniqueTags.map((tag) => {
    const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={`Tag: ${tag}`}>
  <ul>
    {
      posts.map((post) => (
        <li>
          <BlogPost id={post.id} data={post.data} />
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>
