---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import { getPublishedPosts } from "../utils/get-published-posts";

const allPosts = await getPublishedPosts();
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <BlogPost id={post.id} data={post.data} />
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>
