---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import Introduction from "../components/Introduction.astro";
import { getPublishedPosts } from "../utils/get-published-posts";

const pageTitle = "Hi there, I'm Elke! 👋";

const posts = (await getPublishedPosts()).slice(0, 5);
---

<BaseLayout pageTitle={pageTitle}>
  <Introduction />
  <h2>Latest blogposts</h2>
  <ul>
    {posts.map((post) => <BlogPost url={post.id} title={post.data.title} />)}
  </ul>
</BaseLayout>
