---
import ExternalLink from "@components/ExternalLink.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { formatDate } from "@utils/format-date";
import { createOpenGraph } from "@utils/create-open-graph";

const pageTitle: string = "Now";
const description: string = "What Elke is currently doing, learning, and working on.";
const openGraph = createOpenGraph(pageTitle, "/now");
---

<BaseLayout pageTitle={pageTitle} description={description} openGraph={openGraph}>
  <p>
    This page is last updated on {formatDate("2025-12-05")} and is based on the <ExternalLink
      href="https://nownownow.com/about">/now idea</ExternalLink
    > to showcase what a person is currently doing in their life.
  </p>
  <h2>Exercising</h2>
  <ul>
    <li>Training for a 10k</li>
    <li>
      Combining running with pilates, yoga and some strength &amp;
      conditioning
    </li>
  </ul>
  <h2>Programming</h2>
  <ul>
    <li>Doing this year's Advent of Code puzzles</li>
    <li>Backing up all my dotfiles</li>
    <li>Learning Python</li>
  </ul>
  <h2>Working</h2>
  <ul>
    <li>Back at work after almost half a year of parental leave</li>
    <li>Working as a consultant at Meemoo</li>
    <li>Fullstack programming with Vue and Python</li>
  </ul>
  <h2>Learning</h2>
  <ul>
    <li>More about Astro by building this site</li>
    <li>Deepening my knowledge of French with Duolingo and reading Bob &amp; Bobette</li>
    <li>Animations in CSS</li>
  </ul>
  <h2>Gaming</h2>
  <ul>
    <li>Enjoying Hades 2</li>
    <li>Playing a Pathfinder campaign with friends</li>
    <li>Building my biggest Factorio: Space Age factory</li>
    <li>Exploring the world in Hogwarts Legacy</li>
  </ul>
  <h2>Parenting</h2>
  <ul>
    <li>
      Watching my beautiful baby boy grow up, together with my amazing wife
    </li>
    <li>
      Enjoying the longer nights of sleep
    </li>
  </ul>
</BaseLayout>
