---
import ExternalLink from "./ExternalLink.astro";
---

<footer>
  <p>&copy; 2025 Elke Heymans</p>
  <p class="building-blocks">Made with Astro, TypeScript and coffee</p>
  <ul class="socials">
    <li>
      <ExternalLink href="https://www.github.com/elkecodes"
        >GitHub</ExternalLink>
    </li>
    <li>
      <ExternalLink href="https://www.linkedin.com/in/elkeheymans"
        >LinkedIn</ExternalLink>
    </li>
    <li>
      <ExternalLink href="https://bsky.app/profile/elkecodes.dev"
        >Bluesky</ExternalLink>
    </li>
  </ul>
  <p class="source-url">
    <ExternalLink href="https://github.com/ElkeCodes/elkecodesblog"
      >This website is open-source</ExternalLink
    >
  </p>
</footer>

<style>
  footer {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    border-top: 2px solid var(--color-secondary);
    padding: 1rem 0;
    flex-direction: column;
    flex-wrap: wrap;
  }

  footer ul,
  footer p {
    margin: 0;
  }

  @media screen and (min-width: 636px) {
    footer {
      flex-direction: row;
      gap: 1rem;
    }

    footer ul,
    footer p {
      margin: unset;
    }
  }

  footer p.building-blocks {
    font-size: var(--font-size-xs);
  }

  footer ul.socials {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
  }

  footer p.source-url {
    flex-grow: 1;
    text-align: center;
  }
</style>
