---
import { Image } from "astro:assets";
import profilePicture from "../images/elke.jpg";
---

<section class="hero">
  <Image
    src={profilePicture}
    alt="Photo of Elke"
    layout="full-width"
    class="picture"
  />
  <div class="introduction">
    I'm currently building modern web applications with <em
      >Vue.js and Python</em
    >, backed by <em>PostgreSQL</em> for reliable data management. My background
    includes developing multiple <em>React &amp; Angular</em> projects and architecting
    <em>Node.js and C&num;</em> backends, giving me a versatile perspective on fullstack
    development.
  </div>
  <!-- When I'm not coding, you'll find me running, enjoying music, taking
    pictures, or playing boardgames and tabletop RPGs like Dungeons&amp;Dragons.
    These days, my biggest adventure is raising my amazing son with my beautiful
    wife. On this blog, I'll share my insights on tech, code snippets, hobbies, and
    more. -->
</section>

<style>
  .hero {
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--color-border);
  }
  .hero .picture {
    border-radius: 100%;
    border: 1px solid var(--color-border);
    height: 100px;
    width: 100px;
    shape-outside: circle(50%);
    object-position: left;
    float: right;
  }
  .hero .introduction {
    margin: 0;
    font-size: var(--font-size-sm);
  }
  .hero .introduction em {
    font-style: normal;
    text-decoration: underline dashed var(--color-secondary);
    text-underline-offset: 0.3rem;
  }
  @media screen and (min-width: 636px) {
    .hero {
      display: grid;
      grid-template-columns: auto 180px;
      grid-template-areas: "intro photo";
      align-items: center;
      padding: 2rem;
      gap: 0.5rem;
    }
    .hero .picture {
      width: 180px;
      height: 180px;
      float: none;
      grid-area: photo;
    }
    .hero .introduction {
      font-size: var(--font-size-md);
      line-height: 1.75rem;
      margin: unset;
      grid-area: intro;
      display: inline-block;
    }
  }
</style>
