---
import type { MarkdownHeading } from "astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<ul class="headings">
  {
    headings.map((heading) => (
      <li class:list={["heading", `heading--${heading.depth}`]}>
        <a href={`#${heading.slug}`}>{heading.text}</a>
      </li>
    ))
  }
</ul>

<style>
  .headings {
    margin: 0;
    padding-left: 1ch;
    list-style: square;
  }
  .heading {
    margin: 0;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
  }
  .heading--1 {
    list-style: none;
    margin-left: 0rem;
  }
  .heading--2 {
    margin-left: 1rem;
  }
  .heading--3 {
    margin-left: 2rem;
  }
</style>
