---
interface Props {
  tags: Record<string, number>;
}

const { tags } = Astro.props;
---

<nav class="tags" id="tags" aria-label="Tags used in blogposts">
  <ul aria-labelledby="tags">
    {
      Object.entries(tags).map(([tag, number]) => (
        <li class="tag">
          <a href={`/tags/${tag}`}>
            {tag} ({number})
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .tags {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }

  .tags ul {
    list-style: none;
    columns: 3;
  }

  .tag::before {
    content: "#";
  }
</style>
