---
interface Props {
  tags: Array<string>;
}

const { tags } = Astro.props;
---

<div class="tags">
  {
    tags.map((tag) => (
      <p class="tag">
        <a href={`/tags/${tag}`}>{tag}</a>
      </p>
    ))
  }
</div>

<style>
  .tags {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }

  .tag::before {
    content: "#";
  }
</style>
