---
import Introduction from "../components/Introduction.astro";
import Tags from "../components/Tags.astro";
import BaseLayout from "./BaseLayout.astro";
import BackToTop from "../components/BackToTop.svelte";

const { data } = Astro.props;
---

<BaseLayout pageTitle={data.title}>
  <p><em>{data.description}</em></p>
  <p class="publication-date">
    Published on: {
      new Date(data.pubDate).toLocaleDateString(undefined, {
        weekday: "long",
        year: "numeric",
        month: "long",
        day: "numeric",
      })
    }
  </p>
  <slot />
  <BackToTop client:idle />
  <Tags tags={data.tags} />
  <Introduction />
</BaseLayout>

<style>
  .publication-date {
    font-size: var(--font-size-xs);
  }
</style>
