---
import Introduction from "../components/Introduction.astro";
import Tags from "../components/Tags.astro";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p><em>{frontmatter.description}</em></p>
  <p class="publication-date">
    Published on: {
      new Date(frontmatter.pubDate).toLocaleDateString(undefined, {
        weekday: "long",
        year: "numeric",
        month: "long",
        day: "numeric",
      })
    }
  </p>
  <slot />
  <Tags tags={frontmatter.tags} />
  <Introduction />
</BaseLayout>

<style>
  .publication-date {
    font-size: var(--font-size-xs);
  }
</style>
